                                /* GENERAL */
body {
    font-family : 'Raleway', sans-serif ;
}

                                /* MENU */
.menu {
    display: flex;/* Cela permet que les liens sois aligner avec le logo */
    justify-content: space-between;/* Les liens pourront aller tout a droite de la page */
}

.liens{
    display: flex;
    
    justify-content: space-around;/* Pour qu'il y est un espace entre chaque liens*/
    width: 30%; /* Sans la with on ne voyait aucun espace entre les liens */ 
    height: 99px;/* Grace a sa je vais pouvoir mettre le trait au dessus de hebergement tout en haut comme sur la maqutte*/
    align-items: center;    /*^Pour que les liens soit a la meme hauteur que le logo*/
}
 nav a {
    text-decoration: none; /* Retire le trait en dessous de chaque liens  */
    


 }
 .activite{
     color: black;
 }
.hebergement {
   
    border-top: 10px solid blue;
    padding-top: 40px;

}


nav img {
    width: 130px;
    height: 80px;
}






                            /* HEADER */
                            /* BARRE DE RECHERCHE */
.barre form{
    display: flex;
    align-items: center;
    border-radius: 20px;

}
.barre{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.maps{
    height: 50px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    
}

.Search input {
    color:  black;
    font-weight: bold;
    height: 40px;
    width: 150px;
}
.rechercher{
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
    background-color: blue;
    border-radius: 0 20px 20px 0 ;
}
                            /* FILTRES */ 
.filtres{
    display: flex;
    width: 80%;
    align-items: center;
    font-weight: bold;
}
.cadreicone{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderfiltre{
    display: flex;
    
}
.texticone {
    height: 40px;
    padding-left: 15px;
    padding-right: 20px;
    border: 3px solid #F2F2F2; 
    border-radius: 0 20px 20px 0 ;
    display: flex;
    align-items: center;

}
.TextInfo{
    display: flex;
    align-items: center;
}
.IconeInfo{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 15px;
    margin-left: 15px;
    
    color: blue;
}


                             /* SECTION */
                             /*HEBERGEMENT*/
.Grandbloc{
    display: flex;
    
}
 .Backgroundbloc1{
     background-color: #F2F2F2;
     border-radius: 20px;
     width: 65%;
     height: 650px;
     margin-right: 20px;
 }
 .Backgroundbloc2{
     background-color: #F2F2F2;
     border-radius: 20px;
     width: 30%%;
     height: 650px;
     margin-left: 20px;
 }
section div img {
     width: 210px;
     height: 110px;
     border-radius: 15px 15px 0 0;
 }
 .BlocImg {
     display: flex;
     flex-wrap: wrap;
     
 }
 .BlocImg div{ /* Cette parti sert a mettre de la marge interieur dans le bloc de l'image a gaucher et droite*/  
    padding-left: 3px; 
    padding-right: 3px;
    
}
.BackgroundImgHebergement{
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
}
 .IconeStar{
     color: blue;
     font-size: small;
 }
 .Titre{
     padding-top: 20px;
     padding-left: 20px;
 }
 .Afficher_Plus{
     padding-left: 20px;
 }
                            /*Populaire*/


.Backgroundbloc2 img {
     width: 130px;
     height: 110px;
     border-radius: 15px 0 0 15px;
     margin-top:  7px;
     margin-left: 7px;
     margin-left: 7px;
}

 .BackgroundImgPopulaire{
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.TextImg{
    padding-left: 15px;
    
}
                             /*ACTIVITE A MARSEILLES*/   
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 30px;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 1 / 3 / 3 / 4; }
.div5 { grid-area: 1 / 4 / 2 / 5; }
.div6 { grid-area: 2 / 4 / 3 / 5; } 

.parent .div1 img {
    height: 100%;
}
.parent .div4 img {
    height: 100%;
}
    
                            /* FOOTERS */
.Footers{
    background-color: #F2F2F2;
    display: flex;
    height: 250px;
    
}
footer section div nav a {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}
.Footers1{
    margin-right: 200px;

}
.Footers2{
    margin-right: 200px;

}
