                                /* GENERAL */
body {
    font-family : 'Raleway', sans-serif ;
    margin: 0 auto;
    max-width: 1400px;
}


                                /* MENU */
.menu {
    display: flex;/* Cela permet que les liens sois aligner avec le logo */
    justify-content: space-between;/* Les liens pourront aller tout a droite de la page */
    width: 100%;
}

.liens{
    display: flex;
    
    justify-content: space-around;/* Pour qu'il y est un espace entre chaque liens*/
    width: 30%; /* Sans la with on ne voyait aucun espace entre les liens */ 
    height: 99px;/* Grace a sa je vais pouvoir mettre le trait au dessus de hebergement tout en haut comme sur la maqutte*/
    align-items: center;    /*^Pour que les liens soit a la meme hauteur que le logo*/
}
 nav a {
    text-decoration: none; /* Retire le trait en dessous de chaque liens  */
    


 }
 .activite{
     color: black;
 }
.hebergement {
   
    border-top: 10px solid blue;
    padding-top: 40px;

}


nav img {
    width: 130px;
    height: 80px;
}






                            /* HEADER */
                            /* BARRE DE RECHERCHE */
.barre form{
    display: flex;
    align-items: center;
    border-radius: 20px;

}
.barre{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.maps{
    height: 50px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    
}

.BarreDeRecherche input {
    color:  black;
    font-weight: bold;
    height: 40px;
    width: 150px;
}
.rechercher{
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
    background-color: blue;
    border-radius: 0 20px 20px 0 ;
    margin-left: -15px;
}

                            /* FILTRES */ 
.filtres{
    display: flex;
    width: 80%;
    align-items: center;
    font-weight: bold;
}
.cadreicone{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderfiltre{
    display: flex;
    
}
.texticone {
    height: 40px;
    padding-left: 15px;
    padding-right: 20px;
    border: 2px solid #F2F2F2; 
    border-radius: 0 20px 20px 0 ;
    display: flex;
    align-items: center;
    margin-left: -15px;

}
.TextInfo{
    display: flex;
    align-items: center;
}
.IconeInfo{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 15px;
    margin-left: 15px;
    
    color: blue;
}


                             /* SECTION */
                             /*HEBERGEMENT*/
.Grandbloc{
    display: flex;
    
}
 .Backgroundbloc1{
     background-color: #F2F2F2;
     border-radius: 20px;
     width: 70%;
     height: 650px;
     margin-right: 20px;
 }
 
 .Backgroundbloc1 div img {
     width: 100%;
     height: 110px;
     border-radius: 15px 15px 0 0;
     object-fit: cover;
     object-position: center bottom;
 }
 .BlocImg {
     display: flex;
     flex-wrap: wrap;
     
 }
 .BlocImg div{ /* Cette parti sert a mettre de la marge interieur dans le bloc de l'image a gaucher et droite*/  
    padding-left: 3px; 
    padding-right: 3px;
    
}
.BackgroundImgHebergement{
    width: 30%;
}
.Border{
    background: white;
    border-radius: 20px;
    margin: 0 18px 18px 18px;
    padding: 6px;
}
 .IconeStar{
     color: blue;
     font-size: small;
 }
 .Gris{
     color: grey;
 }
 .Titre{
     padding-top: 20px;
     padding-left: 20px;
 }
 .Afficher_Plus{
     padding-left: 20px;
 }
 .TextImg{
     
     margin-top: -20px;
     padding-left: 25px;
 }
                            /*Populaire*/

.Backgroundbloc2{
     background-color: #F2F2F2;
     border-radius: 20px;
     width: 30%;
     height: 650px;
     margin-left: 20px;
 }
.Backgroundbloc2 img {
     width: 100%;
     height: 90px;
     border-radius: 15px 0 0 15px;

}

 .BackgroundImgPopulaire{
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
                            /*ACTIVITE A MARSEILLES*/   
section .parent  img {
     width: 95%;
     height: 110px;
     border-radius: 15px 15px 0 0;
     object-fit: cover;
     
     

 }
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 30px;
}


.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 1 / 3 / 3 / 4; }
.div5 { grid-area: 1 / 4 / 2 / 5; }
.div6 { grid-area: 2 / 4 / 3 / 5; } 

section .parent .div1 img{
    height: 90%;
}
section .parent .div4 img{
    height: 90%;
}
section .parent p{
    font-weight: bold;
}






    
                            /* FOOTERS */
.Footers{
    background-color: #F2F2F2;
    display: flex;
    height: 250px;
    width: 100%;
    
}
footer section div nav a {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}
.Footers1{
    width: 33%;

}
.Footers2{
    
    width: 33%;

}
.Footers3{
    
    width: 33%;

}

                    /*  PARTI MOBILE */
@media all and (max-width: 1080px) 
{
    .liens{
        flex-wrap: wrap;
        
    }
    button{
        color: red;
        border-radius: 20px;

    }
    .filtres{
      
        flex-wrap: wrap;
        
    }
    .Grandbloc{
        flex-direction: column-reverse;
        
    }
    section .BlocImg div {
        width: auto;
    }
    .Footers{
        flex-direction: column;
    }
}